altgraph==0.17.4
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==25.0
pyfiglet==1.0.2
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
readchar==4.2.1
rich==14.0.0
setuptools==80.7.1
